[submodule "go-vhost-frontend"]
	path = go-vhost-frontend
	url = https://github.com/abxuz/go-vhost-frontend.git
[submodule "go-vhostd"]
	path = go-vhostd
	url = https://github.com/abxuz/go-vhostd.git
